body {
  background: #e74c3c;
}

/* Profile container */
.profile {
  margin: 20px 0;
}

/* Profile sidebar */
.profile-sidebar {
  padding: 20px 0 10px 0;
  background: #fff;
  border-radius: 4px;
  box-shadow: 0 2px 5px rgba(0,0,0,.26);
}

.profile-userpic img {
  float: none;
  margin: 0 auto;
  width: 80px;
  height: 80px;
  -webkit-border-radius: 50% !important;
  -moz-border-radius: 50% !important;
  border-radius: 50% !important;
}

.profile-usertitle {
  text-align: center;
  margin-top: 20px;
}

.profile-usertitle-name {
  color: #5a7391;
  font-size: 12px;
  font-weight: 600;
  margin-bottom: 7px;
}

.profile-usertitle-job {
  text-transform: uppercase;
  color: #5b9bd1;
  font-size: 12px;
  font-weight: 600;
  margin-bottom: 15px;
}

.profile-userbuttons {
  text-align: center;
  margin-top: 10px;
}

.profile-userbuttons .btn {
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 600;
  padding: 6px 15px;
  margin-right: 5px;
}

.profile-userbuttons .btn:last-child {
  margin-right: 0px;
}

.profile-usermenu {
  margin-top: 30px;
}

.profile-usermenu ul li {
  border-bottom: 1px solid #f0f4f7;
}

.profile-usermenu ul li:last-child {
  border-bottom: none;
}

.profile-usermenu ul li a {
  color: #93a3b5;
  font-size: 14px;
  font-weight: 400;
}

.profile-usermenu ul li a i {
  margin-right: 8px;
  font-size: 14px;
}

.profile-usermenu ul li a:hover {
  background-color: #fafcfd;
  color: #e74c3c;
}

.btn {
  border-radius: 4px
}

.btn-primary {
  background-color: #e74c3c;
  border-color: #e74c3c;
}

.btn-primary:hover {
  background-color: #2980b9;
  border-color: #2980b9;
  box-shadow: 0 2px 5px rgba(0,0,0,.26)
}

.btn-success {
  background-color: #2ecc71;
  border-color: #2ecc71;
}

.btn-success:hover {
  background-color: #27ae60;
  border-color: #27ae60;
  box-shadow: 0 2px 5px rgba(0,0,0,.26)
}

.pull-left > strong {
  display: inline-block;
  margin-left: 25px
}

.profile-usermenu ul li.active {
  border-bottom: none;
}

.profile-usermenu ul li.active a {
  color: #e74c3c;
  background-color: #f6f9fb;
  border-left: 2px solid #3498db;
  margin-left: -2px;
}

/* Profile Content */
.profile-content {
  padding: 20px;
  background: #fff;
  min-height: 460px;
  border-radius: 4px;
  box-shadow: 0 2px 5px rgba(0,0,0,.26);
}

.main{
 	margin-top: 70px;
}

h1.title {
	font-size: 50px;
	font-weight: 400;
}

hr{
	width: 10%;
	color: #fff;
}

.form-group{
	margin-bottom: 15px;
}

label{
	margin-bottom: 15px;
}

input,
input::-webkit-input-placeholder {
    font-size: 11px;
    padding-top: 3px;
}

.main-login{
 	background-color: #fff;
    /* shadows and rounded borders */
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);

}

.main-center {
  border-radius: 4px;
 	margin-top: 30px;
 	margin: 0 auto;
 	max-width: 330px;
    padding: 40px 40px;

}

.login-button{
	margin-top: 5px;
}

.login-register{
	font-size: 11px;
	text-align: center;
}

*:focus {
  outline: none;
}

.nav-tabs { border-bottom: 2px solid #DDD; }
.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover { border-width: 0; }
.nav-tabs > li > a { border: none; color: #666; }
.nav-tabs > li.active > a, .nav-tabs > li > a:hover { border: none; color: #4285F4 !important; background: transparent; }
.nav-tabs > li > a::after { content: ""; background: #4285F4; height: 2px; position: absolute; width: 100%; left: 0px; bottom: -1px; transition: all 250ms ease 0s; transform: scale(0); }
.nav-tabs > li.active > a::after, .nav-tabs > li:hover > a::after { transform: scale(1); }
.tab-nav > li > a::after { background: #21527d none repeat scroll 0% 0%; color: #fff; }
.tab-pane { padding: 15px 0; }
.tab-content{padding: 5px}

.card {background: #FFF none repeat scroll 0% 0%; box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3); margin-bottom: 30px; }

.card-block {
  padding: 20px
}

.page-header {
  margin-top: 5px;
}

.contenedor {
  width: 90%;
  background: white;
  margin: 0px auto;
  padding-bottom: 10px;
  text-align: center;
}

.cuadro {
  display: inline-block;
  width: 30%;
  margin: 5px auto;
}

.todo {
  width: 90%;
  margin: 10px auto;
  border-radius: 3px;
  min-height: 100px;
}

.menu {
  width: 100%;
  height: 50px;
  border-radius: 3px;
  background: #e74c3c;
  border: 1px solid #e74c3c;
}

.menu ul {
  display: inline-block;
}

.menu ul li {
  display: inline-block;
  margin: 10px 30px;
  color: white
}

.footer ul {

}

.footer ul li {
  display: inline-block;
  margin: 10px 30px;
  color: white
}

.menu ul li a {
  color: white
}

.cuadro h2 {
  margin: 0
}

.imagen {
  width: 100%;
}

.imagen img {
  display: block;
  width: 100%;
  margin: 10px auto;
  height: 350px;
  border-radius: 3px;
  text-align: center;
}

.imagen a {
  position: relative;
  top: -320px;
  display: block;
  margin: 15px;
  border-radius: 3px;
  width: 200px;
  padding: 15px;
  float: right;
  height: 60px;
  background: #e74c3c;
  color: white;
}

.footer {

  width: 90%;
  margin: 10px auto;
  height: 60px;
  border-radius: 3px;
  background: white;
  padding: 10px;
}

.top {
  bottom: 70px;
}

.azul {
  background-color: #e74c3c;
}

.footer a {
  color: white
}

.footer ul li a {
  color: #e74c3c;
}

.cuadros {
  display: inline-block !important;
  width: 40%;
  border: 1px solid black
}

.cuadro2 {
  display: inline-block !important;
  width: 300px;
  margin: 10px;
  border: 1px solid black
}
