/*@import url('https://fonts.googleapis.com/css?family=Muli:300,400,700');*/
@import url('https://fonts.googleapis.com/css?family=Inconsolata:400,700');

body, html {
  padding: 0;
  margin: 0;
  /*font-family: 'Muli', sans-serif;*/
  font-family: 'Inconsolata', monospace;
}

a {
  color: #EA1632
}

.top__menu {
  width: 100%;
  height: 38px;
  padding: 0px;
  margin: 0;
  background-color: #222222;
}

.item__menu {
  display: block;
  list-style: none;
}

.item__menu li {
  display: inline-block;
  margin: 9px;
  color: #d9d9d9;
}

.item__menu i {
  color: #ea1632;
  display: inline-block;
  margin-right: 2.5px,

}

.circle_red {
  display: inline-block;
  margin: 5px;
  margin-right: 10px;
  background-color: #ea1632;
  width: 40px;
  height: 40px;
  border-radius: 5px;
  position: relative;
  top: 17px; 
}

.line {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.col {
  text-align: center;
  color: #222222;
  margin: 15px auto;
}

.left {
  margin-left: 35px;
}

.col h1 {
  margin: 5px;
  
  font-size: 18px;
  font-weight: bold;
  position: relative;
  top: -15px;
}

.col p, span {
  margin: 10px auto;
}

.left__thin {
  margin-left: 15px;
}

.col p {
  font-weight: bold
}

.col i {
  color: #ea1632;
}

.col span {
  font-weight: 300
}

.float__menu {
  z-index: 1001;
  width: 80%;
  position: relative;
  margin: 5px auto;
  background-color: #ea1632;
  display: flex;
  flex-wrap: wrap;
  -webkit-transition: width 2s; /* Safari */
  transition: width 0.3s ease-in-out;
}

.top {
  position: fixed;
  top: 0px;
  width: 100%;
  margin: 0 auto;
}

.main__menu {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 80%;
  text-transform: uppercase;
  margin: 5px auto;
  padding: 10px;
  height: 50px;
}

.signup_block {
  width: 20%;
  text-transform: uppercase;
  background: #222222;
}

.signup_block a {
  display: block;
  margin: 5px auto;
  text-align: center;
  box-sizing: border-box;
  padding: 15px;
  color: white;
  font-weight: bold;
}

.wrap__image {
  position: absolute;
  top: 173px;
  right: 0;
  left: 0;
  background-color: rgba(0,0,0,0.35);
  z-index: 1;
  height: 400px;
  overflow: hidden;
}

.data {
  text-align: center;
  position: relative;
  top: -105px;
  z-index: 2;
}

.sub {
    margin: 40px auto;
    color: white;
    width: 60%;
    font-size: 20px;
}

.data a {
  display: block;
  width: 300px;
  height: 50px;
  font-weight: bold;
  padding: 16px;
  border-radius: 30px;
  margin: 10px auto;
  text-align: center;
  color: white;
  background: #ea1632;
  transition: background 0.2s ease-in;
}

.data a:hover {
  background: #CB011B
}

.seamless {
  font-weight: 400;
  letter-spacing: 3px;
  color: white;
  font-size: 34px;
}

.main__menu ul {
  list-style: none;
}

.main__menu li {
  display: inline-block;
  margin: 0px 10px;
  padding: 5px;
  color: #d9d9d9;
  font-weight: bold;
}

.main__menu li a {
  color: white;
  display: inline-block;
}

a:hover, a:visited, a:link, a:active {
    text-decoration: none;
}

.big__image {
  /* background-image: url(about.jpg); */
  width: 100%;
  margin-bottom: 0px;
  margin-top: -19px;
  padding: 200px 0px;
  height: 400px;
  background-size: cover;
  background-position: 0px;
  background-repeat: no-repeat;
}

.principals {
  width: 100%;
  
  justify-content: center;
  height: 175px;
  background: #ea1632;
  box-sizing: border-box;
  color: white;
  padding: 20px;
}
.main__menu__openClose{
  display: none;
}
@media (max-width: 450px) {
  .principals {
    height: 600px;
  }

  .top__menu {
    display: none;
  }
}
@media (max-width: 800px) {
  .main__menu__openClose{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    color: #fff;
    cursor: pointer;
  }
  .main__menu{
    justify-content: flex-start;
  }
  .main__menu.open ul{
    transform: scaleY(1);
  }
  .main__menu ul{
    transition: all linear 0.2s;
    transform: scaleY(0);
    transform-origin: top center;
    position: absolute;
    display: flex;
    flex-direction: column;
    left: 0px;
    top: 100%;
    padding: 0px;
    background-color: #222;
    width: 100%;
    margin-top: 5px;
  }
}

.principals p i {
  font-size: 35px;
  color: white;
}

.principals p {
  text-align: center;
  margin: 15px 35px;
}

.principals p span {
  font-weight: bold
}

.plans {
  width: 30%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  box-sizing: border-box;
  padding: 20px;
}

.plans .column {
  border: 2px solid #ea1632;
  margin: 20px auto;
  height: 290px;
  width: 90%;
}

.plans p, .plans span {
  width: 100%;
  height: 40px;
  padding: 10px;
  padding-top: 15px;
  padding-bottom: 45px;
  text-align: center;
  display: block;
  border-bottom: 1px dashed #ea1632;
  
}

.red {
  color: #ea1632;
  font-weight: bold;
  text-transform: uppercase
}

.center {
  width: 70%;
  margin: 5px auto;
  margin-top: 25px;
  text-align: center
}

.reduce {
  top: 103px
}

.plans .column > p {
  font-size: 36px;
  height: 60px;
  padding-bottom: 40px;
}

.bottom {
  height: 90px;
}

.column a {
  position: relative;
  bottom: 0;
  top: -15px;
  width: 100;
  height: 60px;
  display: block;
  background: #ea1632;
  color: white;
  box-sizing: border-box;
  padding: 10px;
  padding-top: 20px;
  text-align: center
} 

.about__image {
  width: 80%;
  margin: 5px auto;
  display: block;
}

.s {
  margin-top: 75px;
}

.partners {
  width: 100%;
  height: 80px;
  background: #ea1632;
  text-align: center;
  padding: 25px;
  margin: 20px auto;
  margin-bottom: 0;
}

.partners img {
  width: 100%;
  display: block;
  text-align: center;
  margin: 0px auto;
}

.footer {
  width: 100%;
  height: 313px;
  background: #222229;
}

.copy {
  position: relative;
  top: 30px;
  background: #1C1C21;
  height: 75px;
  width: 100%;
}

.copy h3 {
  width: 80%;
  color: #d9d9d9;
  margin: 0px auto;
  padding: 10px;
  padding-top: 32.5px;
  text-align: center;
  font-size: 16px;
}

.button_register {
  border-radius: 25px;
  background: #ea1632;
  display: block;
  height: 40px;
  padding: 10px;
  width: 50%;
  margin: 5px auto;
  text-align: center;
  color: white;
  font-weight: bold
}

.nav-tabs { border-bottom: 2px solid #DDD; }
.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover { border-width: 0; }
.nav-tabs > li > a { border: none; color: #666; }
.nav-tabs > li.active > a, .nav-tabs > li > a:hover { border: none; color: #DDD !important; background: transparent; }
.nav-tabs > li > a::after { content: ""; background:  #DDD; height: 2px; position: absolute; width: 100%; left: 0px; bottom: -1px; transition: all 250ms ease 0s; transform: scale(0); }
.nav-tabs > li.active > a::after, .nav-tabs > li:hover > a::after { transform: scale(1); }
.tab-nav > li > a::after { background: #CB011B none repeat scroll 0% 0%; color: #fff; }
.tab-pane { padding: 15px 0; }
.tab-content{padding:20px}
.card {margin: 1px auto; width: 100%; text-align: center; background: #FFF none repeat scroll 0% 0%; box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3); margin-bottom: 30px; }

.wrapper {
  width: 50%;
  margin: 20px auto; 
}

.nav.w {
  background: #EA1632;
  margin-top: 18px;
}

.nav.w li a {
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  padding: 20px 15px;
}

.nav.w li a:hover {
  color: #00BCD4
}

.nav.w li:hover {
  background: #CB011B;
}

#h:hover {
  background-color: #f39c12
}

.button {
  display: block;
  border-radius: 25px;
  height: 40px;
  padding: 10px;
  text-align: center;
  color: white;
  width: 165px;
  margin: 10px auto;
}

.__red {
  background: #EA1632;
}

.__red:hover {
  background: #CB011B;
  transition: background 0.3s ease-in
}

.__black:hover {
  background: #1C1C21;
  transition: background 0.3s ease-in
}

.__black {
  background: #222229;
}

.button:hover, .button:focus {
  color: white;
}

.box__red {
  display: inline-block;
  background: #EA1632;
  width: 195px;
  height: 125px;
  margin: 10px auto;
  padding: 3px;
  text-align: center;
  color: white;
}

.box__red h3 {
  font-size: 21.5px;
}
.work{
  display: flex;
  flex-direction: column;
  padding: 20px 50px;
}
.work__top{
  display: flex;
  justify-content: center;
  
}
.work__top__title{
  font-size: 30px;
  font-weight: 600;
}
.work__bottom{
  display: flex;
  flex-wrap: wrap;
}
.work__bottom__sec{
  min-width: 250px;
  flex: 1;
  padding: 0px 10px;
}
.work__bottom__sec__num{
  font-size: 60px;
  font-weight: 600;
  color: #ea1632;
}
.work__bottom__sec__title{
  font-size: 20px;
  font-weight: 600;
}
video{
  background-size: cover;
  bottom: 0;
  height: auto;
  min-height: 100%;
  min-width: 100%;
  position: absolute;
  right: 0;
  width: auto;
  z-index: -100;
}
.scrollTop{
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 10px;
  bottom: 10px;
  width: 30px;
  height: 30px;
  background-color: #ea1632;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  transform: scaleY(0);
  transform-origin: bottom;
  transition: all linear 0.2s;
}
.scrollTop.scroll{
  transform: scaleY(1);
}
.scrollTop .fa{
  font-size: 25px;
  line-height: 25px;
  height: 15px;
}